NAME="X-SERVER"
STATUS_URL="https://s.x.x/"
GETIP_URL="https://"
FREEMYIP=
SSD1="/dev/sda"
SSD2="/dev/sdb"
IPERF3_SERVER="ping.online.net"
IPERF3_PORT_FILE="/tmp/iperf3_port"
SPEEDTEST_URL="https:///speedtest.php"
SENDMAIL="/root/send-mail.sh"
SENDMAIL_FROM="$NAME""@x.x"
SENDMAIL_TO="x@x.x"
SENDMAIL_URL="https://s.x.x/"
CURL_TIMEOUT=2
SLEEP=5
